<h1>List of Questions</h1>

<% if @tag.present? %>
    <h6>
        Showing questions tagged by
        <span class="badge badge-pill badge-primary" >
            <%= @tag.name %>
        </span>
    </h6>
<% end %>

<%= render "list" %>
<!--
<ul class="question-list">
    <% @questions.each do |q| %>
        <li>
            <% q.title %>
        </li>
    <% end %>
</ul> -->