<p>Hello <%= @owner.full_name %></p>

<p>You got a new answer to your question</p>

<p>Question title: <%= @question.title %></p>

<p>The Answer: <%= @answer.body %> </p>

<p> <%= link_to 'Click Here', "#{question_url(@question)}##{dom_id(@answer)}" %> to view the question.</p>

<p>Regards,</p>

<p>Awesome Answers Team</p>