ENV['EMAIL_USERNAME'] = 'PUT YOUR USERNAME HERE'
ENV['EMAIL_PASSWORD'] = 'PUT YOUR PASSWORD HERE'
ENV['GITHUB_ID'] = 'PUT YOUR GITHUB"S CLIENT ID'
ENV['GITHUB_SECRET'] = "PUT YOUR GITHUB'S CLIENT SECRET"